<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="headerr">
      <div id="menulink">
            <br><br><br>
            <div class="row">
             
              <div class="col-md-6"><a href="login.html">Ingresar</a> |

              <a href="Form_new_user.html">Registrarse</a></div>
            
            </div>
      </div>
</div>
<div class="containerr">

    <br><br>
    <div id="menuizq">
      <ul>
          <li>Mi cuenta</li>
          <li>¿Cómo comprar?</li>
          <li>¿Cómo vender?</li>
          <li>Sobre el sitio</li>
          <li>Mapa del sitio</li>
      </ul>
    </div>
    <div id="categorias">
        <div class="row">
        <br>
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Ingrese producto...">
                </div>
                <button type="submit" class="btn btn-default">Buscar</button>
            </form>
            </div>
            <div class="col-md-3"></div>
         </div>
         <div class="row">
            <br><br>
            <div class="col-md-1"></div>
            <div class="col-md-10"><h2>Categorias:</h2></div><br>
            <center>
            <div class="col-md-6"><a href="url">Accesorios para autos</a></div>
            <div class="col-md-6"><a href="url">Animales y mascotas</a></div>
            <div class="col-md-6"><a href="url">Bebés</a></div>
            <div class="col-md-6"><a href="url">Cámaras y accesorios</a></div>
            <div class="col-md-6"><a href="url">Celulares y teléfonos</a></div>
            <div class="col-md-6"><a href="url">Coleccionables y hobbies</a></div>
            <div class="col-md-6"><a href="url">Computación</a></div>
            <div class="col-md-6"><a href="url">Consolas y Videojuegos</a></div>
            <div class="col-md-6"><a href="url">Deportes y Fitness</a></div>
            <div class="col-md-6"><a href="url">Electrónica, audio y video</a></div>
            <div class="col-md-6"><a href="url">Instrumentos musicales</a></div>
            <div class="col-md-6"><a href="url">Joyas y relojes</a></div>
            <div class="col-md-6"><a href="url">Juegos y Juguetes</a></div>
            <div class="col-md-6"><a href="url">Libros, Revistas y Comiscs</a></div>
            <div class="col-md-6"><a href="url">Musica, Películas y series</a></div>
            <div class="col-md-6"><a href="url">Ropa y Accesorios</a></div>
            <div class="col-md-6"><a href="url">Salud y Belleza</a></div>
            </center> 
        </div> 
            
        <div class="row">

            <br><br><br>
            <div class="col-md-1"></div>
            <div class="col-md-10"><h2>Novedades:</h2><br></div>
            <center>
            <div class="col-md-4"><a href="ver_producto.html"><img src="" alt="..." class="img-thumbnail"></a></div>
            <div class="col-md-4"><a href="ver_producto.html"><img src="" alt="..." class="img-thumbnail"></a></div>
            <div class="col-md-4"><a href="ver_producto.html"><img src="" alt="..." class="img-thumbnail"></a></div>
            <div class="col-md-4"><a href="ver_producto.html"><img src="" alt="..." class="img-thumbnail"></a></div>
            <div class="col-md-4"><a href="ver_producto.html"><img src="" alt="..." class="img-thumbnail"></a></div>
            <div class="col-md-4"><a href="ver_producto.html"><img src="" alt="..." class="img-thumbnail"></a></div>
           

            </center>
           
        </div>  
    </div>
    <div id="publicidades">

    </div>
    <div id="publicidades2">

    </div>

</div>
</body>
</html>
<center>
<p>
<a href="http://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
        src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="¡CSS Válido!" />
    </a>
</p>
</center>