*{
	margin: 0px;
	padding: 0px;
}
.headerr{
	width: 100%;
	height: 150px;
	background-image: url("menu_logo.jpeg");
}
.containerr{
	width: 100%;
	height: 1200px;
	background-color: white;

}

.perdi{
	margin-left: 15%;
	width: 70%;
	height: 250px;	
	background-image: url("olvidar.jpeg");
}

.loginn {
	margin-left: 15%;
	width: 70%;
	height: 250px;
	background-image: url("loginfondo.jpeg");
}
.carrito {
	margin-left: 15%;
	width: 70%;
	height: 600px;
	background-image: url("carritofondo.jpeg");
}
.new_user{
	margin-left: 15%;
	width: 70%;
	height: 550px;
	background-image: url("new_user.jpeg");
}
.producto{
	margin-left: 15%;
	width: 70%;
	height: 200px;
	background-color: white;
}
.producto2{
	margin-left: 15%;
	width: 70%;
	height: 400px;
	background-color: white;
}
.containerdescripcion{
	background-color: white;
}
.comprapaso1{
	margin-left: 15%;
	width: 70%;
	height: 400px;
	background-image: url("paso1compra.jpeg");
}
.containerizquierda { 
	position: relative; 
	width: 50%; 
	top: 0; 
	left: 0; 
	float: left; 
	height: 200px; } 
.containerderecha { 
	position: relative; 
	width: 50%; 
	top: 0; 
	left: 0; 
	float: right; 
	height: 200px; }
div#menuizq{

	width:100px;
	margin-top: -15px;
	margin-right: 100px;
	background-color: transparent;
	float:left;


}
div#publicidades{

	width:200px;
	height: 300px;
	margin-top: 8px;
	background-image: url("publi.jpeg");
	float:left;


}
div#publicidades2{

	width:200px;
	height: 300px;
	margin-top: 8px;
	background-image: url("descuento2.jpeg");
	float:left;


}
div#menuizq ul{
	list-style: none;
}

div#menuizq ul li{
	margin-top: 15px;
	font-family: tahoma;
	font-size: 18px;
	background-color: #337ab7;
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
	box-shadow: 2px 0px 10px #939393;
	-webkit-transition:padding-left 0.5s;
}

div#menuizq ul li:hover{
	padding-left:60px;
}


div#categorias{
	width:800px;
	height: 950px;
	background-color: #eee;
	float: left;
	margin-right: 100px;
}	


a:hover{

	background-color: white;
}

div#menulink{
	width:400px;
	height: 100px;
	background-color: transparent;
	float: right;
	margin-left: 130px;
}