*{
	margin:0;
	padding: 0;
	color: #296429;

}
h1{
	color: 006600;
}
h2{
	color: 006600;
}

div#container{
	margin:auto; 
	margin-top: 50px;
	width: 1200px;
	height: 600px;
	background-color: white;
}

div#box-izq{
	float:left;
	margin-top: 50px;
	height: 600px;
	width:200px;
	background-color: white;
}

div#box-central{
	float: left;
	margin-left: 50px;
	height:auto;
	width:850px;
	background-color: white;
    overflow: hidden;
    max-width: 850px;
    min-height: 600px;
}


div#menuizq ul{
	list-style: none;
}

div#menuizq ul li{
	margin-top: 15px;
	font-family: tahoma;
	font-size: 18px;
	background-color: #222;
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
	box-shadow: 2px 0px 10px #939393;
	-webkit-transition:padding-left 0.5s;
}

div#menuizq ul li:hover{
	padding-left:60px;
	
}

p{
	color:black;
}
blue{
	color:#337ab7
}