<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<br><br><br><br>
<h1>Nueva categoria</h1>
<%=bootstrap_form_for(@category) do |f|%>
	<%=f.text_field :name, label:"Nombre de categoría"%>
	<%=f.submit%>
<%end%>
</body>
</html>